.supabase/*
.idea/*
.vscode/*
node_modules/*

.env
local.settings.json
/**/dist/*

# Yarn
/**/.yarn/*
!/**/.yarn/patches
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions
.pnp.*